<h1>{{dashboardData.team.name}}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Team Member</th>
            <th scope="col" *ngFor="let game of dashboardData.games">{{game.date}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let attendance of dashboardData.attendance; let last = last">
            <td scope="row">{{attendance.person.name}}</td>
            <td scope="row" *ngFor="let attendance of attendance.attendanceList">{{attendance.presence}}</td>
        </tr>
    </tbody>
</table>