<p>attendance works!</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Player</th>
            <th scope="col">10-May</th>
            <th scope="col">17-May</th>
            <th scope="col">24-May</th>
            <th scope="col">31-May</th>
            <th scope="col">7-Jun</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Ryan</th>
            <td>In</td>
            <td>In</td>
            <td>In</td>
            <td>In</td>
            <td>In</td>
        </tr>
        <tr>
            <th scope="row">Katie</th>
            <td>In</td>
            <td>In</td>
            <td>In</td>
            <td>In</td>
            <td>In</td>
        </tr>
        <tr>
            <th scope="row">Crowley</th>
            <td>In</td>
            <td>In</td>
            <td>In</td>
            <td>In</td>
            <td>In</td>
        </tr>
        <tr>
            <th scope="row">Odin</th>
            <td>In</td>
            <td>In</td>
            <td>In</td>
            <td>In</td>
            <td>In</td>
        </tr>
        <tr>
            <th scope="row">Cyrus</th>
            <td>In</td>
            <td>In</td>
            <td>In</td>
            <td>In</td>
            <td>In</td>
        </tr>
    </tbody>
</table>