<h1>{{ dashboardData.teamName }}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Team Member</th>
      <th scope="col" *ngFor="let game of dashboardData.games">
        {{ game.date | date: "shortDate" }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of dashboardData.memberships; let last = last">
      <td scope="row">{{ member.person.name }}</td>
      <td
        scope="row"
        *ngFor="let attendanceItem of attendancedByMember(member.person.id)"
      >
        <team-attendance-toggle
          [personId]="member.person.id"
          [gameId]="attendanceItem.gameId"
          [selected]="attendanceItem.presence"
        ></team-attendance-toggle>
      </td>
    </tr>
  </tbody>
</table>
